{%for ab in about%}

<section class="">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-6">
            <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">All About</h6>
            <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">{{ab.titl}}</h2>
            {{ab.description|safe}}
            {%if title%}
            <span></span>
            {%else%}
                <a class="btn btn-theme-colored btn-flat btn-lg mt-10 mb-sm-30" href="{% url 'about' %}">Know More →</a>
            {%endif%}
          </div>
          <div class="col-md-6">
            <div class="video-popup">
              <a href="{{ab.url}}" data-lightbox-gallery="youtube-video" title="Video">
                <img alt="" src="{{ab.image.url}}" class="img-responsive img-fullwidth">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endfor%}