{%extends "base.html"%}
{%load static%}
{%block content%}
   <!-- Section: inner-header -->
   {% include "inner_header.html" %}
   
  <!-- Section: News & Blog -->
  <section id="blog" class="bg-lighter">
    <div class="container">
      <div class="section-title mb-10">
        <div class="row">
          <div class="col-md-12">
            <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Latest <span class="text-theme-color-2 font-weight-400">News</span></h2>
         </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            {%for blog in blogs%}
            <article class="post clearfix mb-sm-30">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{{blog.image.url}}" alt="" class="img-responsive img-fullwidth"> 
                </div>
              </div>
              <div class="entry-content p-20 pr-10 bg-white">
                <div class="entry-meta media mt-0 no-bg no-border">
                  <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                    <ul>
                      <li class="font-16 text-white font-weight-600 border-bottom">{{blog.date|date:"d"}}</li>
                      <li class="font-12 text-white text-uppercase">{{blog.date|date:"M"}}</li>
                    </ul>
                  </div>
                  <div class="media-body pl-15">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="#">{{blog.title}}</a></h4>                      
                    </div>
                  </div>
                </div>
                <p class="mt-10">{{blog.description|safe}}</p>
                <a href="{% url 'blog_detail' blog.id %}" class="btn-read-more">Read more</a>
                <div class="clearfix"></div>
              </div>
            </article>
            {%endfor%}
        </div>
      </div>
    </div>
    </div>
  </section>
{%endblock content%}