{%extends "base.html"%}
{%load static%}
{%block content%}
   <!-- Section: inner-header -->
   <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{%static 'images/bg/bg3.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">Events</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">Page Title</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: News & Blog -->
  <section id="news">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-sm-6 col-md-3">              
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/1.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/2.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/8.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/4.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/8.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/1.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/2.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{%static 'images/blog/1.jpg' %}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">28</li>
                    <li class="font-12 text-white text-uppercase">Feb</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="#">Post title here</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                </div>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti<a class="text-theme-color-2 font-12 ml-5" href="#"> View Details</a></p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock content%}