{%extends "base.html"%}
{%load static%}
{%block content%}
   <!-- Section: inner-header -->
   {% include "inner_header.html" %}

  <!-- Section: News & Blog -->
  <section id="news">
    <div class="container">
      <div class="section-content">
        <div class="row">
          {%for event in events%}
          <div class="col-sm-6 col-md-3">              
            <article class="post clearfix mb-30 bg-lighter">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{{event.image.url}}" alt="" class="img-responsive img-fullwidth"> 
                </div>                    
                <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-color-2-3px pt-5 pr-15 pb-5 pl-15">
                  <ul>
                    <li class="font-16 text-white font-weight-600">{{event.date|date:"d"}}</li>
                    <li class="font-12 text-white text-uppercase">{{event.date|date:"M"}}</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content p-15 pt-10 pb-10">
                <div class="entry-meta media no-bg no-border mt-0 mb-10">
                  <div class="media-body pl-0">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="{%url 'event_detail' event.id%}">{{event.title}}</a></h4>
                    </div>
                  </div>
                </div>
                <p class="mt-5">{{event.description|safe}}<a class="text-theme-color-2 font-12 ml-5" href="{%url 'event_detail' event.id%}"> View Details</a></p>
              </div>
            </article>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </section>
{%endblock content%}