{%load static%}

<!-- Section: Services -->
<section id="services" class="bg-lighter">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-uppercase text-theme-colored title line-bottom">Our <span class="text-theme-color-2 font-weight-400">Features</span></h2>
          </div>
        </div>
      </div>
      <div class="row mtli-row-clearfix">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
            <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
              <i class="pe-7s-scissors"></i>
            </a>
            <div class="icon-box-details">
              <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Less CSS</h4>
              <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
            <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
              <i class="pe-7s-pen"></i>
            </a>
            <div class="icon-box-details">
              <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Easy Customiz</h4>
              <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
            <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
              <i class="pe-7s-tools"></i>
            </a>
            <div class="icon-box-details">
              <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Special ShortCode</h4>
              <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
            <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
              <i class="pe-7s-vector"></i>
            </a>
            <div class="icon-box-details">
              <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">W3 validation</h4>
              <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
            <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
              <i class="pe-7s-phone"></i>
            </a>
            <div class="icon-box-details">
              <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Responsive</h4>
              <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
            <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
              <i class="pe-7s-light"></i>
            </a>
            <div class="icon-box-details">
              <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Retina Ready</h4>
              <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </section>
  
  <!-- Divider: Funfact -->
  <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg2.jpg' %}" data-parallax-ratio="0.7">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact text-center">
            <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="5248" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
            <h5 class="text-white text-uppercase mb-0">Happy Students</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact text-center">
            <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
            <h5 class="text-white text-uppercase mb-0">Our Courses</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact text-center">
            <i class="pe-7s-users mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="248" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
            <h5 class="text-white text-uppercase mb-0">Our Teachers</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
          <div class="funfact text-center">
            <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
            <h5 class="text-white text-uppercase mb-0">Awards Won</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Section: Why Choose Us -->
  <section id="event" class="">
    <div class="container pb-50">
      <div class="section-content">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-newspaper mr-10"></i>Latest <span class="text-theme-color-2">Blogs</span></h3>
            {%for blog in blogs%}
            <article class="post clearfix mb-sm-30">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{{blog.image.url}}" alt="" class="img-responsive img-fullwidth"> 
                </div>
              </div>
              <div class="entry-content p-20 pr-10 bg-white">
                <div class="entry-meta media mt-0 no-bg no-border">
                  <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                    <ul>
                      <li class="font-16 text-white font-weight-600 border-bottom">{{blog.date|date:"d"}}</li>
                      <li class="font-12 text-white text-uppercase">{{blog.date|date:"M"}}</li>
                    </ul>
                  </div>
                  <div class="media-body pl-15">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="#">{{blog.title}}</a></h4>                      
                    </div>
                  </div>
                </div>
                <p class="mt-10">{{blog.description|safe}}</p>
                <a href="{% url 'blog_detail' blog.id %}" class="btn-read-more">Read more</a>
                <div class="clearfix"></div>
              </div>
            </article>
            {%endfor%}
          </div>
          <div class="col-md-6">
            <h3 class="line-bottom mt-0 line-height-1">Why <span class="text-theme-color-2">Choose Us?</span></h3>
            <p class="mb-10">The Cweren Law Firm is a recognized leader in landlord tenant representation throughout Texas.The largest professional property.</p>
            <div id="accordion1" class="panel-group accordion">
              <div class="panel">
                <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
