{%extends "base.html"%}
{%block content%}
   <!-- Section: inner-header -->
   {% include "inner_header.html" %}
   
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Works Filter -->
          <div class="portfolio-filter font-alt align-center">
            <a href="#" class="active" data-filter="*">All</a>
            {% for type in image_types %}
                <a href="#{{ type.name|slugify }}" class="" data-filter=".{{ type.name|slugify }}">{{ type.name }}</a>
            {% endfor %}
          </div>
          <!-- End Works Filter -->
          <!-- Portfolio Gallery Grid -->
          <div id="grid" class="gallery-isotope grid-3 gutter clearfix">

            <!-- Portfolio Item Start -->
            {% for image in gallery_list %}
            <div class="gallery-item {% for type in image.image_type.all %}{{ type.name|slugify }} {% endfor %}">
                <div class="thumb">
                    <img class="img-fullwidth" src="{{ image.image.url }}" alt="Gallery Image">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                        <div class="icons-holder-inner">
                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                <a data-lightbox="image" href="{{ image.image.url }}"><i class="fa fa-plus"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="{{ image.image.url }}">View more</a>
                </div>
            </div>
        {% endfor %}
          </div>
          <!-- End Portfolio Gallery Grid -->
        </div>
      </div>
    </div>
  </section>
{%endblock content%}