{%extends "base.html"%}
{%load static%}
{%block content%}
   <!-- Section: inner-header -->
   {% include "inner_header.html" %}
  
      <!-- Section: Team -->
      <section id="team">
        <div class="container">
          <div class="row mtli-row-clearfix">
            {%for staf in teachers%}
            <div class="col-xs-12 col-sm-6 col-md-3 sm-text-center mb-30 mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb">
                  {%if staf.image%}
                  <img class="img-fullwidth" src="{{staf.image.url}}" alt="">
                  {%else%}
                  <img class="img-fullwidth" src="{%static 'images/team/team5.jpg' %}" alt="">
                  {%endif%}
                </div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">{{staf.name}} - <small>{{staf.designation}}</small></h4>
                  <p class="mb-20">
                    {{staf.description|truncatewords:10|safe}}
                  </p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="{%url 'teacher_details' staf.id %}">view details</a>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>

      </section>

<!-- Section: Why Choose Us -->
       {%include "facts.html"%}
{%endblock content%}