{%load static%}
    <!-- Section: About -->
     {%include "about_section.html"%}
      <!-- Divider: Funfact -->
      <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg2.jpg' %}" data-parallax-ratio="0.7">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center">
                <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
                <h2 data-animation-duration="2000" data-value="5248" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                <h5 class="text-white text-uppercase mb-0">Happy Students</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center">
                <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
                <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                <h5 class="text-white text-uppercase mb-0">Our Courses</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center">
                <i class="pe-7s-users mt-5 text-theme-color-2"></i>
                <h2 data-animation-duration="2000" data-value="248" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                <h5 class="text-white text-uppercase mb-0">Our Teachers</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
              <div class="funfact text-center">
                <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
                <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                <h5 class="text-white text-uppercase mb-0">Awards Won</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
  
       <!-- Section: Teachers -->
       <section id="team">
        <div class="container">
          <div class="section-title mb-10">
            <div class="row">
              <div class="col-md-12">
                <h2 class="mt-0 text-uppercase text-theme-colored title line-bottom line-height-1">Our<span class="text-theme-color-2 font-weight-400"> Teacher</span></h2>
              </div>
            </div>
          </div>
          <div class="row mtli-row-clearfix">
            {%for staf in teachers%}
            <div class="col-xs-12 col-sm-6 col-md-3 sm-text-center mb-30 mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb">
                  {%if staf.image%}
                  <img class="img-fullwidth" src="{{staf.image.url}}" alt="">
                  {%else%}
                  <img class="img-fullwidth" src="{%static 'images/team/team5.jpg' %}" alt="">
                  {%endif%}
                </div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">{{staf.name}} - <small>{{staf.designation}}</small></h4>
                  <p class="mb-20">
                    {{staf.description|truncatewords:10|safe}}
                  </p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="{%url 'teacher_details' staf.id %}">view details</a>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>

      </section>
  
      <!-- Section: Gallery -->
      <section id="gallery" class="bg-lighter">
       <div class="container">
          <div class="section-title mb-10">
            <div class="row">
              <div class="col-md-12">
                <h2 class="mt-0 text-uppercase text-theme-colored title line-bottom line-height-1">Our<span class="text-theme-color-2 font-weight-400"> Gllery</span></h2>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
                <!-- Works Filter -->
                <div class="portfolio-filter font-alt align-center">
                  <a href="#" class="active" data-filter="*">All</a>
                  {% for type in image_types %}
                      <a href="#{{ type.name|slugify }}" class="" data-filter=".{{ type.name|slugify }}">{{ type.name }}</a>
                  {% endfor %}

                </div>
                <!-- End Works Filter -->
                
                <!-- Portfolio Gallery Grid -->
                <div id="grid" class="gallery-isotope grid-3 gutter clearfix">

                  <!-- Portfolio Item Start -->
                  {% for image in gallery_list %}
                  <div class="gallery-item {% for type in image.image_type.all %}{{ type.name|slugify }} {% endfor %}">
                      <div class="thumb">
                          <img class="img-fullwidth" src="{{ image.image.url }}" alt="Gallery Image">
                          <div class="overlay-shade"></div>
                          <div class="icons-holder">
                              <div class="icons-holder-inner">
                                  <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                      <a data-lightbox="image" href="{{ image.image.url }}"><i class="fa fa-plus"></i></a>
                                      <a href="#"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                          <a class="hover-link" data-lightbox="image" href="{{ image.image.url }}">View more</a>
                      </div>
                  </div>
              {% endfor %}
                </div>
                <!-- End Portfolio Gallery Grid -->
              </div>
            </div>
          </div>
        </div >
      </section>

  <!-- Section: News & Blog -->
  <section id="blog" class="bg-lighter">
    <div class="container">
      <div class="section-title mb-10">
        <div class="row">
          <div class="col-md-12">
            <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Latest <span class="text-theme-color-2 font-weight-400">Blogs</span></h2>
         </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            {%for blog in blogs%}
            <article class="post clearfix mb-sm-30">
              <div class="entry-header">
                <div class="post-thumb thumb"> 
                  <img src="{{blog.image.url}}" alt="" class="img-responsive img-fullwidth"> 
                </div>
              </div>
              <div class="entry-content p-20 pr-10 bg-white">
                <div class="entry-meta media mt-0 no-bg no-border">
                  <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                    <ul>
                      <li class="font-16 text-white font-weight-600 border-bottom">{{blog.date|date:"d"}}</li>
                      <li class="font-12 text-white text-uppercase">{{blog.date|date:"M"}}</li>
                    </ul>
                  </div>
                  <div class="media-body pl-15">
                    <div class="event-content pull-left flip">
                      <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="#">{{blog.title}}</a></h4>                      
                    </div>
                  </div>
                </div>
                <p class="mt-10">{{blog.description|safe}}</p>
                <a href="{% url 'blog_detail' blog.id %}" class="btn-read-more">Read more</a>
                <div class="clearfix"></div>
              </div>
            </article>
            {%endfor%}
        </div>
      </div>
    </div>
    </div>
  </section>
  
      <!-- Section: Contact -->
  <section id="contact">
    <div class="container-fluid pb-60">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3376.8734365651117!2d74.86948757573732!3d32.18068747391858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391eadb70dbfc1b1%3A0x17c6ccad54bf93d2!2sElite%20Scholars%20School%20Dhabliwala!5e0!3m2!1sen!2s!4v1739812655925!5m2!1sen!2s"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>